body {
    background-color: gray;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

a {
    padding: 10px;
    color: red;
    background-color: greenyellow;
}

img {
    width: 400px;
    border-bottom: 5px solid red;
}